.form-inline{
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
  width: 30%;
  border-radius: 5px;
}
div.form-inline > h4{
  margin-bottom: -0px;
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
}
div.form-inline > div.form-group > button{
  margin-top: 10px;
  margin-left:
}
.errorMsg{
  position: relative;
  width: 80%;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bolder;
  color: red;
}
