.container{
  zoom: 180%;
}

.form-block{
  width: 45%;

  margin:5%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.link{
    margin-left: 5%;
}

h2{
  margin:5%;
}
input{
  margin: 5%;
  width: 80% !important;
}
button{
  margin-left: 5%;
}
